<main>
  <section>
    <h2>Download PDF Resume</h2>

    <a class="resume-anchor" [href]="resumeFileUrl">
      <img class="resume-anchor-img" src="assets/img/pdf-icon.png" alt="" height="30" width="25" />
      <span class="resume-anchor-text">{{ resumeFileName }}</span>
    </a>
  </section>

  <section>
    <h2>Professional Summary</h2>

    <p>
      Full-stack web developer with over 4 years of experience working in the IT industry and 8 years of experience
      in the Mechanical Engineering field in multiple industries. Skilled at working in teams and utilizing problem
      solving and time management abilities to deliver results in a safe, timely, and effective manner. Seeking a
      full-time web development position that will provide new experiences to grow my programming and project
      management abilities.
    </p>
  </section>

  <section>
    <h2>Related Skills</h2>

    <ul class="skills">
      <li class="skill">HTML, CSS, JavaScript, TypeScript, Angular, Vue, Nuxt, Java, Java Spring Boot, and SQL</li>
      <li class="skill">Deploying applications to Unix servers and Google Cloud</li>
      <li class="skill">Creating UI components and component libraries</li>
      <li class="skill">Configuring and managing Jenkins build servers</li>
      <li class="skill">Utilizing SonarQube for code quality</li>
      <li class="skill">Controlling source code with GitHub and Subversion</li>
    </ul>
  </section>

  <section>
    <h2>Education</h2>

    <ul>
      <li>
        <div>
          <div class="font-weight-bold">Tech901</div>

          <ul>
            <li>2019</li>
            <li>Web Programming</li>
          </ul>
        </div>
      </li>

      <li>
        <div>
          <div class="font-weight-bold">Mississippi State University</div>

          <ul>
            <li>2012</li>
            <li>B.S. Mechanical Engineering</li>
            <li>GPA: 4.0</li>
          </ul>
        </div>
      </li>
    </ul>
  </section>

  <section>
    <h2>Experience</h2>

    <ul>
      <li>
        <div>
          <div class="font-weight-bold">
            <div class="mb-0">Front-End Developer</div>
            <div class="mb-0">The Nerdery, LLC</div>
            <div class="mb-0">Remote</div>
            <div class="mb-0">2021-Present</div>
          </div>

          <ul>
            <li>
              Lead a team of 4 front-end developers for a web application utilizing Vue and Nuxt for a 15,000
              person event that allowed users to register for the event, create session schedules, and view session
              content online
            </li>

            <li>
              Helped secure contracts worth over $1,000,000 dollars by providing engineering estimates based off of
              business requirements and UI designs
            </li>

            <li>
              Optimized contract pricing and features by working with clients and team members to refine project
              scope and develop requirements
            </li>

            <li>Coordinated with external teams on integrating external capabilities into an application</li>
            <li>Maintained and updated Angular applications and libraries</li>
            <li>Upgraded Angular and TypeScript versions</li>
            <li>Troubleshot issues with internal Angular library usage</li>
            <li>Assisted users with consumption of internal Angular libraries</li>
            <li>Integrated Datadog into an Angular application</li>
          </ul>
        </div>
      </li>

      <li>
        <div>
          <div class="font-weight-bold">
            <div class="mb-0">Full Stack Developer</div>
            <div class="mb-0">ECS Federal, LLC.</div>
            <div class="mb-0">Memphis, TN</div>
            <div class="mb-0">2019-2021</div>
          </div>

          <ul>
            <li>
              Lead development and deployment efforts for internal USPS web applications utilizing Angular, Java,
              and SQL
            </li>

            <li>
              Worked with internal and external customers and teams to resolve issues and ensure successful
              coordination between related applications
            </li>

            <li>Deployed applications to Unix environments working closely with DevOps and DBAs</li>

            <li>Migrated version controls systems from Subversion to GitHub</li>

            <li>
              Established Jenkins configurations to automate application builds to minimize manual build errors
            </li>

            <li>Utilized SonarQube to improve code quality</li>

            <li>
              Supervised and mentored an intern to ensure they were productive while also learning web development
              fundamentals
            </li>
          </ul>
        </div>
      </li>

      <li>
        <div>
          <div class="font-weight-bold">
            <div class="mb-0">Project Engineer</div>
            <div class="mb-0">Diversified Conveyors, Intl.</div>
            <div class="mb-0">Memphis, TN</div>
            <div class="mb-0">2016-2019</div>
          </div>

          <ul>
            <li>Performed as Lead Engineer and oversaw 5 junior engineers on a $400 million project</li>

            <li>Worked with structural engineering firms to ensure adequate and compatible structural designs</li>

            <li>
              Coordinated with Project Management to ensure deliverables were completed on time and in accordance
              with the contract specifications and applicable codes
            </li>

            <li>Developed new drafting techniques to improve coordination with external vendors</li>
          </ul>
        </div>
      </li>

      <li>
        <div>
          <div class="font-weight-bold">
            <div class="mb-0">Design Engineer</div>
            <div class="mb-0">Chevron Corporation</div>
            <div class="mb-0">Richmond, CA</div>
            <div class="mb-0">2013-2016</div>
          </div>

          <ul>
            <li>
              Performed as Lead Engineer and supervised junior engineers for 2 plant outages with a total
              expenditure of $23 million
            </li>

            <li>Optimized work scope on a project to reduce installation costs by $20,000</li>

            <li>Worked with Materials Engineers to specify material requirements for equipment</li>

            <li>Analyzed inspections and test data with Inspectors and Technicians to develop repair plans</li>
          </ul>
        </div>
      </li>

      <li>
        <div>
          <div class="font-weight-bold">
            <div class="mb-0">Reliability Intern</div>
            <div class="mb-0">Valero Energy Corporation</div>
            <div class="mb-0">Memphis, TN</div>
            <div class="mb-0">Summer 2012</div>
          </div>

          <ul>
            <li>Worked with senior engineers to develop plans for refinery equipment upgrades</li>

            <li>Developed a database for tracking refinery equipment</li>
          </ul>
        </div>
      </li>

      <li>
        <div>
          <div class="font-weight-bold">
            <div class="mb-0">Engineering Co-op</div>
            <div class="mb-0">Hunter Engineering Co.</div>
            <div class="mb-0">Durant, MS</div>
            <div class="mb-0">2010-2011</div>
          </div>

          <ul>
            <li>Worked with senior engineers on quality control issues and factory upgrades</li>

            <li>Created a database for quality control inspection equipment</li>

            <li>Determined root causes of manufacturing issues and developed solutions to these issues</li>
          </ul>
        </div>
      </li>
    </ul>
  </section>
</main>
