<main>
  <h2>About</h2>

  <p>I'm a full-stack web developer located in Memphis, TN.</p>

  <p>I work with the following technologies:</p>

  <ul>
    <li class="technology">Angular</li>
    <li class="technology">Java Spring Boot</li>
    <li class="technology">Oracle SQL</li>
    <li class="technology">Git and GitHub</li>
    <li class="technology">Subversion</li>
    <li class="technology">Jenkins</li>
    <li class="technology">SonarQube</li>
    <li class="technology">Linux Servers</li>
    <li class="technology">Windows Servers</li>
  </ul>
</main>
