/*William Warner*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	font-family: Raleway, hevetica, sans-serif;
}

.body {
	height: 100vh;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	
	background-color: #2C2625;

	color: white;

	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 100%;
	height: 55px;
	
	z-index: 1;

	padding: 10px;
}

.header__links {
	display: flex;
	align-items: center;
}

.header__link {
	color: white;
	text-decoration: none;

	margin: 3px;
}

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;

	color: white;
	
	height: 100vh; 
	
	background: url("img/aidan-formigoni-547537-unsplash.jpg") center center;
	background-size: cover;
}

.hero__title-container {
	border: 5px solid white;
	
	padding: 10px;
	margin: 125px 0 0 0; 
}

.hero__title {
  	font-size: 48px;
	text-align: center;
}

.hero__tag {
	font-size: 18px;
	
	margin: 10px 0 0 0;
}

.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 0 20px 0;

	position: relative;

	width: 100%;
	
	background-color: rgb(255, 255, 255);
	color: rgb(85,85,85);
}

.section--dark-grey {
	background-color: #2C2625;
	color: white;
}

.section__target {
	position: absolute;
	top: -55px;
}

.about-card {
	width: 90%;
	
	background-color: white;
	color: rgb(85,85,85);
		
	border-radius: 4px;
	
	margin: 20px 0 0 0;
	padding: 10px;
}

.about-card__text {
	margin: 10px 0 0 0;
	
	color: rgb(80,80,80);
}
.about-card__link {
	color: black;
}

.project-card {
	display: flex;

	background-color: #FFF;
	color: black;
	
	width: 90%;

	margin: 80px 0 0 0;
	
	padding: 20px;
}

.project-card--reversed {
	flex-direction: row-reverse;
}


.project-card--no-grid {
	display: inline-block;
}

.project-card__image {
	width: 50%;
	height: 100%;

	border: 1px solid rgb(80,80,80);
}

.project-card__content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	color: rgb(80,80,80);
	
	margin-left: 20px;
}

.project-card__title {
	grid-area: title;
}

.project-card__text {
	line-height: 2;
}

.project-card__links {
	display: flex;
}

.project-card__link {
	border: 1px solid black;
	border-radius: 5px;
	
	color: black;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	width: 150px;
	
	padding: 10px;
	margin-right: 10px;
	
	text-decoration: none;
}

.contact-card {
	display: grid;
	grid-template-areas:	"name	 name	 email	 email"
							"message message message message"
							".		 .		 submit	 clear";
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 30px 60px 30px;
	grid-gap: 10px;

	width: 50%;
	min-width: 300px;

	border-radius: 4px;
	
	margin: 20px 0 0 0;
	padding: 10px;
}

.contact-card__input-name {
	grid-area: name;

	border-radius: 5px;

	padding: 10px;
}

.contact-card__input-email {
	grid-area: email;

	border-radius: 5px;

	padding: 10px;
}

.contact-card__input-message {
	grid-area: message;

	border-radius: 5px;

	padding: 10px;
}

.contact-card__btn-submit {
	grid-area: submit;
}

.contact-card__btn-clear {
	grid-area: clear;
}

/*Etch-A-Sketch*/

.etch-a-sketch {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	width: 50%;
	min-height: 300px;
}

.js-etch-a-sketch__grid {
	display: grid;
	border: 1px solid rgb(0,0,0);

	width: 100%;
	height: 100%;

	background-color: white;
}

.js-etch-a-sketch__grid-item {
	box-sizing: border-box;

	border: 0.25px solid rgb(200, 200, 200);
}

.etch-a-sketch__btn-container {
	margin: 10px;
}

@media only screen and (max-width: 900px) {
	.project-card {
		display: flex;
		flex-direction: column;
		align-items: center;

		margin-top: 20px;
	}

	.project-card__links {
		justify-content:  center;
	}

	.project-card__image {
		height: 100%;
		width: 100%;
	}

	.project-card__title {
		margin: 10px 0 10px 0;
	}

	.project-card__content {
		width: 100%;
	}

	.contact-card {
		grid-template-areas:	"name"
								"email"
								"message"
								"submit"
								"clear";
		grid-template-columns: 1fr;
		grid-template-rows: 30px 30px 60px 30px 30px ;
	}

	.etch-a-sketch {
		width: 100%;
		min-height: 200px;
	}

	.js-etch-a-sketch__grid {

		width: 100%;
		min-height: 250px;
	
	}
}