/*William Warner*/
/*willrwarner.com*/
/*main.css*/

/*---------------------------*/
/*----------General----------*/
/*---------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Roboto Slab", serif;
}

.body {
  height: 100vh;
}

/*--------------------------*/
/*----------Header----------*/
/*--------------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;

  background-color: black;

  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 55px;

  padding: 10px;

  z-index: 1;
}

.header__logo {
  height: 50px;
  width: 50px;
}

.header__links {
  display: flex;
  align-items: center;
}

.header__link {
  color: white;
  text-decoration: none;

  margin: 3px;
}

/*------------------------*/
/*----------Hero----------*/
/*------------------------*/
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;

  height: 100vh;

  background: url("img/khara-woods-510726-unsplash-min.jpg") center center;
  background-size: cover;
}

.hero__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__image {
  width: 60vw;
  max-width: 300px;

  margin: 15vh 0 5vh 0;
}

.hero__logo {
  width: 120px;
  height: 120px;
}

.hero__title-container {
  text-align: center;
}

.hero__title {
  font-size: 48px;
  text-align: center;

  font-family: "Caveat", cursive;
}

.hero__tag {
  margin: 10px 0 0 0;

  font-weight: 400;
  font-size: 18px;
}

/*---------------------------*/
/*----------Section----------*/
/*---------------------------*/
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 20px 0;

  position: relative;

  width: 100%;

  background-color: rgb(255, 255, 255);
  color: rgb(85, 85, 85);
}

.section__title {
  border-bottom: 2px solid;
  padding: 5px;
  margin-bottom: 10px;
}

.section--dark-grey {
  background-color: #2c2625;
  color: white;
}

.section__target {
  position: absolute;
  top: -55px;
}

/*-------------------------*/
/*----------About----------*/
/*-------------------------*/
.about-container {
  display: grid;
  grid-template-columns: 1fr;

  width: 90%;
}

.about-card {
  background-color: rgb(85, 85, 85);
  color: white;

  border-radius: 2px;

  margin: 10px;
  padding: 10px;
}

.about-card__sub-title {
  margin-top: 10px;
  color: rgb(200, 200, 200);
}

.about-card__text {
  margin: 10px 0px 10px 0;

  text-align: justify;
}

.about-card__image {
  width: 100%;
}

.about-card__link-container {
  margin-top: 20px;
}

.about-card__link {
  display: block;

  color: black;

  margin: 10px 0px 10px 0;
}

/*----------------------------*/
/*----------Projects----------*/
/*----------------------------*/
.project-container {
  display: grid;
  grid-template-columns: 1fr;

  width: 90%;
}

.project-card {
  display: flex;
  flex-direction: column;

  background-color: #fff;
  color: white;

  border-radius: 4px;

  margin: 10px;
  padding: 10px;
}
.project-card__image {
  width: 100%;
}

.project-card__content {
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  color: rgb(80, 80, 80);

  padding: 10px;
}

.project-card__text {
  margin: 10px 0px 10px 0;

  text-align: justify;
}

.project-card__links {
  flex-grow: 1;

  display: flex;

  margin-top: 10px;
}

.project-card__link {
  align-self: flex-end;

  color: black;
}

/*-------------------------*/
/*----------GAMES----------*/
/*-------------------------*/
.game-card {
  width: 90%;

  background-color: rgb(85, 85, 85);
  color: white;

  margin: 20px;
}

.game-card__title {
  text-align: center;
}

.game-card__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  margin: 10px 10px 10px 0;
}

.game-card__content-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin: 10px 10px 10px 10px;
}

.game-card__btn-container {
  margin: 10px;
}

.game-card__link {
  color: black;

  margin: 5px;
}

.contact__text {
  padding: 20px;
}

/*---------------------------------*/
/*----------Etch-A-Sketch----------*/
/*---------------------------------*/
.etch-a-sketch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 300px;
}

#js-etch-a-sketch__grid {
  display: grid;
  border: 1px solid rgb(0, 0, 0);

  width: 100%;
  height: 100%;

  background-color: white;
}

.js-etch-a-sketch__grid-item {
  box-sizing: border-box;

  border: 0.25px solid rgb(200, 200, 200);
}

.etch-a-sketch__btn {
  border-radius: 5px;

  background-color: rgb(175, 175, 175);
  color: rgb(50, 50, 50);

  padding: 5px;

  cursor: pointer;
}

/*-------------------------*/
/*----------Snake----------*/
/*-------------------------*/
.snake__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.snake__canvas {
  border: 1px solid black;
}

/*-------------------------*/
/*----------Contact----------*/
/*-------------------------*/

.contact__form {
  display: flex;
  flex-direction: column;

  width: 80%;
}

.contact__name {
  border-radius: 5px;

  margin-top: 5px;
}

.contact__email {
  border-radius: 5px;

  margin-top: 5px;
}

.contact__message {
  border-radius: 5px;

  margin-top: 5px;
}

.contact__button {
  width: 80%;

  margin-top: 5px;
}

.contact__status {
  display: none;

  margin: 0 0 25px 0;
}

/*---------------------------------*/
/*----------Media Queries----------*/
/*---------------------------------*/
/*Media Queries */
@media only screen and (min-width: 600px) {
  .hero__body {
    flex-direction: row;
  }

  .about-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .project-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .game-card__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 0;
  }

  .contact__form {
    width: 500px;
  }

  .contact__button {
    width: 500px;
  }
}

@media only screen and (min-width: 900px) {
  .about-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1000px) {
  .project-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
