/*RESETS*/
main, body, footer, nav, p, section, div, a, span, header, ul, li{
  box-sizing: border-box;

  margin: 0;    /*Add for production*/
  padding: 0;   /*Add for production*/

	font-family: 'Roboto Slab', serif;
	color: #C5C6C7;
}

/* * {
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
} */

html, body {
  height: 100%;
  margin: 0;      /*Remove this for production*/
  padding: 0;     /*Remove this for production*/
}

/*Structures the body to be a flex box to create a fixed header*/
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Common properties for the main page elements*/
.header, .main, .footer {
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #0B0C10;
}

.header__list-item{
  list-style-type: none;
  display: inline-block;
  padding-left: 5px;
  padding-right; 5px;
}

.intro__link {
	color: white;
}

.main-group__list-item {
  list-style-type: none;
  display: inline-block;
  
  margin: 10px 10px 10px 0;
  padding: 5px;
 
  color: #0B0C10;
  background-color: #45A29E; 
}

.header__group {
	display: flex;
	align-items: center;
	padding-top: 5px;
}

.header__list-link {
  display: inline-block;
}

.main {
  flex: 1;          /*Allows main to take up the available space*/

  overflow: auto;   /*Allows for scrolling*/
  
  background-color: #1F2833;
}

.main-group__list-item {
  background-color: rgb(200,200,200);
}

.main__project-content {
  display: grid;
  grid-template-columns: 400px 1fr;
}

.main__project-image {
  width: 100%;
  margin: 0;    /*Remove this for production*/
  padding: 0;   /*Remove this for production*/
}

.project-card {

	display: grid;
	grid-template-areas: "image	title"
										 "image	content";
	grid-template-columns: 300px 1fr;
	grid-template-rows: auto minmax(200px, 1fr);
}

.project-card__title {
	grid-area: title;
}

.project-card__image {
	grid-area: image;
}

.project-card__content {
	grid-area: body;
}
