<h2>Bubble Sort</h2>
<p>Bubble sort is a simple algorithm to sort an array. This is a visualization of that algorithm!</p>

<div style="display: flex; gap: 12px">
  <button (click)="onClickSort()">sort</button>
  <button (click)="onClickReset()">reset</button>
</div>

<div style="margin-top: 12px"></div>

<div style="display: flex; gap: 12px; align-items: flex-end">
  <div *ngFor="let el of sortedArray; index as i" style="display: flex; flex-direction: column; gap: 12px">
    <div
      [style]="'background-color: white; height: ' + el * 5 + 'px; width: 12px;'"
      [style.background-color]="
        i === sortIndex ? 'blue' : i === compareIndex ? 'green' : i === swappedIndex ? 'yellow' : 'white'
      "
    ></div>
    <div>{{ el }}</div>
  </div>
</div>
