<main>
  <h2>Welcome</h2>
  <p>Hi, I'm Will Warner and welcome to my site!</p>
  <img class="headshot" src="assets/img/headshot-angled.jpg" alt="" />

  <h2>About</h2>

  <p>I'm a full-stack web developer located in Memphis, TN.</p>

  <p>I work with the following technologies:</p>

  <ul>
    <li class="technology">Angular</li>
    <li class="technology">Java Spring Boot</li>
    <li class="technology">Oracle SQL</li>
    <li class="technology">Git and GitHub</li>
    <li class="technology">Subversion</li>
    <li class="technology">Jenkins</li>
    <li class="technology">SonarQube</li>
    <li class="technology">Linux Servers</li>
    <li class="technology">Windows Servers</li>
  </ul>

  <h2>Contact</h2>

  <p>You can find me on the following:</p>

  <ul>
    <li><a href="https://github.com/cofad" target="_blank">GitHub</a></li>
    <li>
      <a href="https://www.linkedin.com/in/will-r-warner" target="_blank"> LinkedIn </a>
    </li>
  </ul>
</main>
